<legend>Ingredient Information</legend>
<div class="form-group" ng-class="{'has-error has-feedback' : form.$submitted && form.ingredientName.$error.required}">
    <label class="col-sm-2 control-label">Ingredient name</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" placeholder="Ingredient name" ng-model="ingredient.name" name="ingredientName" required=""/>
        <div ng-show="form.$submitted && form.ingredientName.$error.required">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <label class="control-label">Ingredient name is required</label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-0 col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>