<div ng-cloak>
    <div class="table-responsive" ng-init="getAllIngredientUnits()">
        <h1 class="page-header">Ingredient Units</h1><a style="float:right" class="btn btn-primary" ui-sref="addIngredientUnit" role="button">New Ingredient unit</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created at</th>
                <th>Last modified</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ingredientUnit in ingredientUnits">
                <td>{{ ingredientUnit.name }}</td>
                <td>{{ ingredientUnit.creationDate | date: dateTimeFormat }}</td>
                <td>{{ ingredientUnit.lastModifiedDate | date: dateTimeFormat }}</td>
                <td>
                    <a class="link--text table__actions__item" role="button" ui-sref="editIngredientUnit({id: ingredientUnit.id})"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Edit</a>
                    <a class="link--text link--danger table__actions__item" role="button" ng-click="deleteIngredientUnitModal(ingredientUnit.id)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination ng-model="currentPage" total-items="totalIngredientUnits" max-size="maxSize" boundary-links="true"></pagination>
    </div>
</div>
