/*/ customAlert */
.alert.customAlert {
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    min-width: 303px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 9999;
}

.customAlert strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.customAlert .close {
    position: absolute !important;
    right: 15px !important;
    top: 5px !important;
}
.customAlert em {
    display: inline-block;
    margin: 0 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}

.customAlert.danger {
    background-color: #F2DEDE;
    color: #C6807F;
}

.customAlert.success {
    background-color: #DFF0D8;
    color: #8AB087;
}