<div ng-cloak>
    <div class="table-responsive">
        <h1 class="page-header">Dishes</h1><a style="float:right" class="btn btn-primary" ui-sref="addDish" role="button">New Dish</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created at</th>
                <th>Last modified</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dish in dishes">
                <td>{{ dish.name }}</td>
                <td>{{ dish.creationDate | date: dateTimeFormat }}</td>
                <td>{{ dish.lastModifiedDate | date: dateTimeFormat }}</td>
                <td>
                    <a class="link--text table__actions__item" role="button" ui-sref="editDish({id: dish.id})"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Edit</a>
                    <a class="link--text link--danger table__actions__item" role="button" ng-click="deleteDishModal(dish.id)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination ng-model="currentPage" total-items="totalDishes" max-size="maxSize" boundary-links="true"></pagination>
    </div>
</div>
